<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>profile page</title>
</head>
<body>
<h1>Profile Page<h1>
<b>logged in<b>

<p>Click here to logout - <a href="/logout">Logout</a></p>

</body>
</html>